.App {
  text-align: center;
  font-family: Open Sans;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @font-face {
  font-family: SF Pro Text Regular;
  src: local("SF Pro Text Regular"),
    url(../../fonts/SFProText-Regular.ttf) format("truetype");
}
@font-face {
  font-family: SF Pro Text Rounded;
  src: local("SF Pro Text Rounded"),
    url(../../fonts/SFProTextRounded-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Open Sans Regular;
  src: local("Open Sans Regular"),
    url(../../fonts/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: SF Pro Display Regular;
  src: local("SF Pro Display Regular"),
    url(../../fonts/SFProDisplay-Regular.ttf) format("truetype");
} */

@font-face {
  font-family: "SF Pro Text";
  src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("//db.onlinewebfonts.com/t/0b51833ff62e4af8acb5fd3e2bf59e97.eot");
}
