// Buyer Login Component

.wrp-lgn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  background-color: #fafafa;

  @include media-break("lg") {
    flex-direction: row;
  }
}

.lgn-img {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 0 5%;

  @include media-break("lg") {
    width: 60%;
  }
}

.img-lgn {
  position: relative;
  left: 90px;
  top: 100px;

  @include media-break("lg") {
    position: absolute;
    left: 90px;
    top: 280px;

  }
}

.lgn-hdr-cnt {
  position: absolute;
  height: 304px;
  width: 786px;
  left: 53px;
  top: 100px;
  border-radius: nullpx;
  // font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 59px;
  line-height: 62px;
  color: #3B3C69;
}

.hed-prt {
  border-radius: nullpx;
  // font-family: Futura;
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 62px;
  color: #3B3C69;
}

.lgn-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 15%;

  @include media-break("lg") {
    width: 30%;
    margin-top: 8%;
  }
}

.lgn-frm {
  border: 1px solid #c4cdd5;
  border-radius: 10px;
  background-color: #ffffff;
  height: 20%;
  width: 80%;
}

.lgn-frm-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lgn-mil {
  margin-top: 10%;
  width: 90%;
}

.lgn-pwd {
  width: 90%;
}

.txt-mil {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #454f5c;
}

.txt-pwd {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #454f5c;
}

.cnt-pwd {
  margin-top: 5%;
}

.fgt-pwd {
  float: right;
}

.lgn-hlp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lgn-hdr {
  align-items: center;
  margin-top: 25px;
  width: 100%;
}

.hdr1 {
  // font-family: Darker Grotesque;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 52px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(67, 81, 134, 1),
    rgba(115, 126, 168, 0)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hdr2 {
  // font-family: Darker Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 2px;
  color: #919eab;
}

.int-box {
  height: 10%;
}

.lgn-txt {
  display: flex;
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.lgn-btn {
  width: 90%;
  height: 50px;
  margin-top: 5%;
}

.lgn-chk {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.lgn-adm {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 5% 0;
}

.adm-lnk{
  // font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4a42ed;
  text-decoration: underline;
}

.errorText {
  color: red;
  font-size: 90%;
}

