// Compare Bids - styles

.cmp-bid {
  width: 100%;

  &-top {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    // height: 50px;
    // margin-top: 20px;

    &-tit {
      font-size: 32px;
      margin-top: 10px;
      font-weight: 700;
    }

    &-btns {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }
}

.bid-ovr-viw {
  margin-top: 25px;
  border: 4px solid #43598f;
  //  border-top: 30px solid red;
  width: 100%;
  height: 600px;
  border-radius: 5px;

  &-bod {
    height: 60px;
    background-color: #43598f;
  }

  &-btns {
    display: flex;
    flex-direction: row;
  }

  &-btn1 {
    width: 270px;
    background-color: #43598f;
    font-size: 22px;
    border: none;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;

    &:hover {
      background: rgba(196, 196, 196, 0.5);
      mix-blend-mode: lighten;
      border-radius: 5px;
    }

    &:active {
      background: rgba(196, 196, 196, 0.5);
      mix-blend-mode: lighten;
      border-radius: 5px;
    }
  }
}

.bid-bot-tit {
  margin: 10px 10px ;
  display: flex;
  flex-direction: row;

  &-val {
    // font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #43598f;
    margin-right: 20px;
  }

  &-mul {
    margin-left: 15px;
    width: 170px;
  }

  &-tit {
    margin-top: 10px;
  }
}

.bid-cmp-tab {
  
}