// Create Tender - styles

.crt-ten {
  min-height: 100%;
}

.crt-hdr-nme {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  text-indent: 5px;
  color: #43598f;
}

.crt-ten-cnt {
  width: 100%;
  min-height: 100%;
  background-color: #eceff3;
  padding: 10px;
  overflow: auto;
  z-index: 10;
}

.ten-pge {
  width: 100%;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 5px;
}

.ten-tit {
  font-family: SF Pro Display;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #8ba4ba;
}

.cell-tit {
  margin-top: 20px;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
}

.cell-month {
  margin-top: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.int-num {
  width: 15%;
}

.tit-bold {
  font-size: 13px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.chk-style {
  display: flex;
}

.chk-ten {
  display: flex;
}

.ten-left {
  display: flex;
  padding-top: 35px;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  justify-content: center;
}

.text-left {
  display: flex;
  align-items: center;
  width: 159px;
  height: 196px;
  font-size: 14px;
  line-height: 20px;
  margin-right: 52px;
}

.wrp-ten-lst {
  width: 100%;
}

.ten-doc-lst {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 10px;
  padding: 15px;

  &-nme {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    color: #8ba4ba;
  }

  &-cnt {
    width: 100%;
    height: 100%;
    margin-top: 2px;
  }
}

.ten-wrk-lst {
  width: 100%;
  height: 215px;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ten-info-cri {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);

  &-hdr {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #8ba4ba;
    padding: 15px 0 0 15px;
  }
}

.ten-info-pre {
  background: #ffffff;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);

  &-hdr {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #8ba4ba;
    padding: 15px 0 0 15px;
  }
}

.ten-dte-nme {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2c2e2f;
  padding: 1px 0px;
}

.ten-info-cri-dte {
  margin: 10px 0 0 15px;
  width: 80%;
}

.dte-pic-wrp {
  border: 0;
}

.ten-info-cri-pnt {
  margin-left: 15px;
  width: 80%;
}

.ten-dte-pic {
  margin-bottom: 30px;
}

.ten-pnt-txt {
  margin-bottom: 30px;
}

.ten-info-pre-chk1 {
  width: 90%;
  height: 33px;
  padding: 10px 15px;
}

.lcn-err {
  font-size: 80%;
  color: #dc3545;
  font-family: Open Sans;
}

.invalid-feedback {
  padding-top: 15px;
}

.ten-info-lbl {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #212b36;
  padding-left: 10px;
}

.chk-tit {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #212b36;
}

.ten-chk1-info {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #8ba4ba;
  padding-top: 10px;
  padding-left: 40px;
}

.ten-info-num {
  height: 20px;
  width: 25px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
}

.pge-brk {
  margin-top: 10px;
}

.crt-ten-ftr {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.ftr-btn {
  display: flex;
}

.pay-trm {
  width: 100%;
  height: 20%;
  box-shadow: 3px 3px 18px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

.pay-trm-box {
  border: 1px solid #c4cdd5;
  display: flex;
  text-align: center;
  padding-left: 20px;
  height: 40px;

  &-inp {
    width: 40px;
    display: flex;
    align-items: center;
  }
}

.bal-trm {
  border: 1px solid #c4cdd5;
  display: flex;
  text-align: center;
  padding-left: 20px;
  height: 40px;
  margin-top: 15px;
}

.ret-inp {
  width: 95%;
}
.ret-cnt {
  width: 342px;
  height: 35px;
  font-size: 14px;
  line-height: 17px;
  color: #8ba4ba;
  margin-top: 10px;
}

.form-control {
  width: 100%;
  height: 48px;
  background: #ffffff;
  border: 1px solid #8ba4ba;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  color: #212b36;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-yk16xz-control,
.css-1pahdxg-control {
  height: 48px;
}

.fid-chk {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.err {
  color: #ff0000;
}

// Payment Terms Styles

.pay-trm {
  height: 100%;
  overflow: scroll;

  &-tit {
    font-family: SF Pro Display;
    font-size: 26px;
    color: #8ba4ba;
  }

  &-des {
    font-size: 14px;
    line-height: 20px;
  }

  &-tip {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
  }

  &-exc {
    margin-top: 10px;
  }

  &-tem {
    width: 295px;
  }
}

.add-wrk {
  width: 15%;
}

.err-int {
  color: #ff0000;
}
.sel-lst {
  padding-top: 2px;
	height: 55px;
	display: flex;
	flex-direction: row;
	width: 500px;
	background: #E9EEF2;
	padding: 10px;
	margin: 10px;
	border-radius:4px;
}

.sel-fle {
  flex-grow: 1;
}