.crt-bid-unt {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 18px;

  &-tit {
    // font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    margin-top: 10px;
    color: #4a42ed;
  }

  &-str {
    margin-left: 20px;
  }

  &-brk {
    margin-top: 6%;
  }

  &-btn {
    width: 250px;
    margin-left: 80px;
  }
}

.crt-bid-tab {
  display: flex;
  margin-top: 15px;

  &-key {
    display: flex;
    border: 1px solid grey;
    width: 170px;
    height: 43px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fefefe 3.65%, #eceff3 56.77%);
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;

    &:hover {
      border-top: 8px solid #43598f;
    }

    &:active {
      border-top: 8px solid #43598f;
    }

    &:link {
        border-top: 8px solid red;
    }
  }
}

.crt-bid-tab-long {
  margin-top: 30px;
}

.crt-bid-sav {
  display: flex;
  justify-content: flex-end;
  margin-right: 70px;

  &-btn {
    width: 80px;
  }
}

.crt-bid-itm-val {
    font-size: 18px;
    margin-top: 10px;
}

.crt-bid-bod-bdr {
    // border: 1px solid red;
    background: rgba(145, 158, 171, 0.46);
    height: 40px;
    width: 100%;
    display: flex;
     flex-direction: row; 
     cursor: pointer;

    &-tti {
      margin-left: 15px;
       font-size: 20px;
       font-weight: 700;
       text-align: center;
    }

    &-flw {
        margin-top: 10px;
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
    }
}

.tbl-btn-unt {
  background: #DFE3E8;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
  height: 28px;
  text-align: center;
  width: 150px;
  font-size: 12px;

  &:hover {
    background-color: #BBE5B3;
  }

  &:active {
    background-color: #BBE5B3;
  }
}