// ForgotPassword Component

.fgt {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fgt-wrp {
  width: 384px;
  border: 1px solid #c4cdd5;
  border-radius: 10px;
}

.fgt-cnt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fgt-lgo {
  padding-top: 8px;
  // font-family: Darker Grotesque;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  background-image: linear-gradient(
    to bottom,
    rgba(67, 81, 134, 1),
    rgba(115, 126, 168, 0)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fgt-tit {
  // font-family: Darker Grotesque;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #919eab;
}

.fgt-nme {
  // font-family: SF Pro Display;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  color: #8ba4ba;
  margin-top: 18px;
}

.fgt-dta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 285px;
  padding: 25px 5px;
}

.fgt-btn {
  width: 90px;
  margin-top: 30px;
}

.fgt-txt {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  width: 285px;
  display: flex;
  align-items: center;
  padding: 5px;
  color: #2c2e2f;
}

.fgt-int {
  width: 285px;
  padding: 0 2px;
}

.fgt-mil {
  margin-top: 14px;
  // font-family: Open Sans;
  font-size: 14px;
  line-height: 17px;
  width: 285px;
  padding: 5px 3px;
}

.fgt-lnk {
  margin-top: 20px;
}

.fgt-err {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 17px;
  width: 285px;
  color: #ff0000;
}
