$headerColor: #1c2260;
$textColor: #ffffff;

.mainHeader {
  background-color: $headerColor;
  align-items: center;
  color: $textColor;
  //height: 80px;
}
.searchBox {
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 3px;
}
.usernameCol {
  text-align: end;
  color: $textColor;
}
.mainHeaderFirstCol {
  padding-left: 40px;
}
.mainHeaderFirstColText {
  font-size: 50px;
  // font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 800;
}
.mainHeaderFirstColCompanyText {
  font-size: 17px;
  // font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 400;
}
.userIconRow {
  //align-items: center !important;
  font-size: 13px;
}

.searchBox::placeholder {
  color: #ffffff;
}

.inputgroupCol {
  font-size: 17px !important;
  // font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
}

.mainHeaderFirstColText {
  @media (max-width: 991px) {
    font-size: 30px;
  }
}

.mainHeaderFirstColText {
  @media (min-width: 992px) {
    font-size: 50px;
  }
}

.mainHeader {
  @media (max-width: 767px) {
    height: 80px;
  }
}
