// Invite vendor - Styles

.inv-ven {
  &-top {
    min-height: 100%;
    background-color: #eceff3;
    padding: 10px;
    // overflow-x: auto;
    overflow-y: auto;

    &-hdr {
      display: flex;
      flex-direction: column;

      @include media-break("md") {
        flex-direction: row;
      }
    }
  }

  .hdr-tit {
    flex-grow: 1;
  }

  &-pge {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    background-color: #ffffff;
  }

  &-srh {
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &-inp {
    width: 80%;
  }

  &-box {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 115px;
    border: 1px solid #b7bcc0;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
  }

  &-chk {
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 35px;
    margin-top: 15px;
    margin-left: 10px;
    border: 1px solid #c4cdd5;
    border-radius: 3px;
    width: 160px;
    height: 36px;
  }

  &-shw {
    display: flex;
    width: 100%;
    margin-top: 10px;

    &-txt {
      display: inline-flex;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 20px;
      flex-grow: 1;
      margin-left: 15px;
    }

    &-box {
      width: 110px;
      display: flex;
      justify-content: center;
      height: 30px;
      margin-right: 75px;
    }
  }

  &-tab {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
    overflow: scroll;
  }

  &-pag {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  .ant-table-wrapper {
    width: 100%;
    display: inline-table;
  }
}

.inv-ren-stat {
  display: flex;
  flex-direction: row;
  height: 20px;
}

// .form-control {
//   height: 38px;
// }

.ven-lst-sel {
  width: 210px;
}

.ven-lst-sel ._2iA8p44d0WZ-WqRBGcAuEV {
  border: 1px solid #cccccc;
  border-radius: 4px;
  /* padding: 8px; */
  min-height: 45px;
  position: relative;
  padding: .5rem 1rem;
}