// Invite Vendor Register Page
.ivt-reg {
    min-height: 100%;
    background-color: #eceff3;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.hdr-nme-fnt{
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
    text-indent: 20px;
    color: #43598F;
}

.hdr-nme-bck {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #43598F;
    padding-left: 5px;
}

.ivt-cnt {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    padding-bottom: 25px;
    margin-top: 5px;
}

.ivt-snd {
    width: 100%;
    padding: 10px;
}

.ivt-snd-nme {
    // font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}

.ivt-snd-lst {
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #C4CDD5;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
    border-radius: 3px;
}

.react-multi-email {
    height: 100%;
    overflow: auto;
    border: 0;
}

.ivt-sbj {
    width: 100%;
    padding: 10px;
}

.ivt-sbj-nme {
    // font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}

.ivt-sbj-lst {
    // height: 58px;
    background: #FFFFFF;
    // border: 1px solid #C4CDD5;
    box-sizing: border-box;
    box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
    border-radius: 3px;
}

.ivt-ten-reg {
    width: 100%;
    padding: 10px;
}

.ten-reg-txt {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}

.reg-tbl-hdr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 74px;
    margin: auto;
    border-bottom:  1px solid #d7b47c;
}

.reg-tbl-par {
    width: 100%;
    min-height: 100%;
    margin: 5%;
}

.red-tbl-btn {
    width: 30%;
    margin-top: 8%;
}

.reg-par2, .reg-tbl-det, .reg-tbl-bid, .reg-tbl-stp, .reg-stp-hdr, .reg-stp-rls, .stp-rga {
    padding-top: 5%;
}

.reg-par1, .reg-par2, .reg-prj-val, .reg-prj-sts, .reg-bid-vew, .reg-tbl-stp, .reg-stp-rls {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}

.reg-det-hdr {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #212B36;
}

.reg-stp-hdr {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #212B36;
}

.reg-stp-hdr {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #aabe64;
}

.reg-tbl-rls {
    width: 98%;
    min-height: 100%;
    border-top: 2px solid #aabe64;
    margin-top: 5%;
    margin-right: 5%;
}

.tbl-rls-plc {
    width: 100%;
    height: 100%;
    background-color: #040849;
    box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);
    padding: 2% 0 20% 0;
    // padding-bottom: 5%;
}

.plc1-pra, .plc2-pra, .plc3-pra, .plc4-pra, .plc5-pra, .plc6-pra, .plc7-pra {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 30px;
    color: #FFFFFF;
    padding-left: 10%;
    padding-right: 15%;
}

.rls-plc1, .rls-plc2, .rls-plc3, .rls-plc4, .rls-plc5, .rls-plc6, .rls-plc7 {
    display: flex;
    padding-top: 5%;
}

.plc1-icn {
    padding-top: 1%;
    margin-left: 5%;
}

.ivt-ven-ftr {
    margin-top: 3%;
}

.ven-ftr-btn {
    display: flex;
}

.ven-smr-lnk {
    padding: 2px 0 0 10px;
}