// LoginForm Component

.loginimage {
  display: flex;
  margin-top: 90px;
  margin-left: 95px;
  width: 790px;
  height: 700px;
}

.loginForm1 {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: absolute;
  width: 435px;
  height: 485px;
  right: 20px;
  bottom: 140px;
  background: #ffffff;
}

.border {
  position: absolute;
  height: 444px;
  left: 5.06%;
  right: 4.83%;
  top: 22px;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  border-radius: 10px;
}

.header1 {
  position: absolute;
  height: 68px;
  left: 64px;
  right: 65px;
  top: 31px;
  //font-family: Darker Grotesque;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgba(67, 81, 134, 1),
    rgba(115, 126, 168, 0)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header2 {
  position: absolute;
  height: 23px;
  left: 64px;
  right: 65px;
  top: 84px;
  //font-family: Darker Grotesque;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 2px;
  color: #919eab;
}

.header3 {
  position: absolute;
  width: 212px;
  height: 33px;
  left: 92px;
  top: 122px;
  //font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #8ba4ba;
}

.text {
  margin-top: 165px;
  margin-left: 45px;
  //font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  height: 48px;
}

.form-control {
  width: 87%;
  border: 1px solid #8ba4ba;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 44px;
}

.text1 {
  display: flex;
  flex-direction: row;
  margin-top: 2px;
  margin-left: 45px;
  //font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
}

.link1 {
  display: flex;
  margin-left: 135px;
}

.text2 {
  display: flex;
  flex-direction: row;
  margin-left: 45px;
  //font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 5px;
}

/* .btn-link {
  margin-top: -15px;
} */

/* .btn-primary {
  width: 105px;
} */

.loginbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
