// Payment Terms Styles

.pay-trm {
    height: 100%;
    overflow: scroll;

    &-tit {        
        //font-family: SF Pro Display;
        font-size: 26px;
        color: #8BA4BA;
    }

    &-des {
        font-size: 14px;
        line-height: 20px;
    }

    &-tip {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    &-exc {
        margin-top: 10px;
    }

    &-tem {
        margin-top: 15px;
        width: 15%;
    }
}

.val-req {
    color: red;
}

// .form-control {
//     width: 100%;
// }


