// Unit Tender
.prm-mdl {
  width: 100%;
  height: 394px;
  padding: 20px 20px 20px 20px;

  &-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #eec200;
  }
}
.prm-tit {
  width: 420px;
  height: 32px;
  left: 28px;
  top: 28px;
  // font-family: SF Pro Display;
  font-size: 23px;
  line-height: 32px;
}

.prm-cls {
  margin: 5px;
}

.prm-cnt {
  width: 99%;
  height: 80%;
  
  &-shw {
    display: flex;
    flex-direction: row;
    background-color: #fcf1cd;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      #fcf1cd;
    box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
      0px 1px 3px rgba(63, 63, 68, 0.15);
  }

  &-icn {
    padding-top: 10px;
  }

  &-des {
    // font-family: SF Pro Text;
    font-size: 14px;
    line-height: 24px;
    color: #212b36;
    padding-left: 10px;
    padding-top: 10px;
  }

  &-txt {
    margin-top: 10px;
  }

  &-add {
    width: 284px;
    margin-top: 10px;
  }

  &-main {
    margin-top: 15px;
  }

  &-rot {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    &-crt {
      width: 60px;
    }
  }
}

.unt-ftr {
  border-top: 1px solid #e1e1e1;
}

.wrk-lst-btn {
  margin: 3%;
  width: 50%;
}

.frt-btn {
  width: 5%;
  margin: 5px 0 0 5px;
}

.wrp-add-cat {
  width: 50%;
  height: 50%;
  background: #ffffff;
  box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2),
    0px 2px 16px rgba(33, 43, 54, 0.08);
  border-radius: 6px;
}

.add-cat-hdr {
  display: flex;
  height: 20%;
  border-bottom: 1px solid #e6e6e6;
}

.wrp-ind-cnt {
  width: 95%;
  height: 350px;
  display: flex;
  align-items: center;
}

.add-cat-cnt {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cnt-int {
  width: 80%;
  margin-top: 5%;
}

.int-lbl {
  width: 80%;
  // font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #8ba4ba;
}

.wrp-add-ftr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-cat-cls {
  padding: 1%;
}

.add-cat-tit {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #212b36;
  padding: 1%;
  flex-grow: 1;
}

.btn-outline-secondary {
  color: black;
  margin: 1px;
  &:hover {
    background-color: #fff;
    border-color: darken(#fff, 20%);
    color: #000000;
  }
}

.btn-icn {
  padding-right: 10px;
}

.cat-lst {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6% 3%;
  width: 65%;
  height: 30px;
  background-color: #f4f5fa;
}

.srh-res {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.res-slt {
  width: 30%;
}

.int-ftr {
  width: 55%;
  margin-top: 20px;
  margin-left: 10px;
}

.src-btn-val {
  
}