// Resource Modal styles

.res-mdl {
  width: 100%;
  height: 861px;
  border-radius: 10px;

  padding: 10px 20px 10px 20px;

  &-hdr {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    &-tit {
      //font-family: SF Pro Display;
      font-size: 26px;
      line-height: 32px;
      display: flex;
      width: 100%;
    }
    &-cls {
      justify-content: flex-end;
    }
  }
}

.res-cnt-but {
  display: flex;
  flex-direction: row;
  // color: #00ff;

  &-flw {
    color: #00ff;
  }
  &-flw1 {
    color: #00ff;
  }
}

.res-cnt {
  width: 100%;
  height: 588px;
  background: linear-gradient(180deg, #fefefe 3.65%, #eceff3 56.77%);
  border: 1px solid #d5d5d5;
  box-sizing: border-box;

  &-tit1 {
    margin-top: 20px;
    margin-left: 15px;
  }

  &-inp1 {
    width: 25%;
    margin-top: 6px;
    margin-left: 15px;
  }
}
.res-tab {
  display: flex;
  margin-top: 15px;

  &-key {
    display: flex;
    border: 1px solid grey;
    width: 180px;
    height: 43px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #fefefe 3.65%, #eceff3 56.77%);
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;

    &:hover {
      border-top: 8px solid #43598f;
    }
  }
}

.res-spc {
  width: 100%;
  height: 588px;
  background: linear-gradient(180deg, #fefefe 3.65%, #eceff3 56.77%);
  border: 1px solid #d5d5d5;
  box-sizing: border-box;

  &-cnt {
    margin-top: 10px;
    margin-left: 10px;
  }

  &-tit {
    font-size: 26px;
    line-height: 32px;
  }

  &-flw {
    display: flex;
    flex-direction: row;

    &-iti {
      display: flex;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    &-swt {
      display: flex;
      padding-top: 15px;
      justify-content: flex-end;
      flex-grow: 1;
    }
  }

  &-tag {
    display: flex;
    flex-direction: row;

    &-sle {
      width: 35%;
    }

    &-icn {
      padding-left: 25px;
    }
  }

  .custom-control-input:checked ~ .custom-control-label::before {
    color: rgb(250, 42, 42);
    border-color: #007bff;
    background-color: green !important;
  }

  .res-sle {
      margin-top: 20px;
      width: 35%;
  }
}

.ant-checkbox .ant-checkbox-inner {
  // width: 25px;
  // height: 25px;
  background-color: #fff;
  border: 2px solid #5C6AC4; 
  border-color: #5C6AC4;
  border-radius: 3px;
}

.ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: #5C6AC4 !important;
}

.chk-lst {
  display: flex;
  flex-direction: column;

  &-chk-lst-flw {
    display: flex;
    flex-direction: column;
  }
}

.ant-checkbox-group {
  display: flex;
  flex-direction: column;
}

.ant-checkbox-wrapper {
  margin-left: 20px;
  margin-top: 20px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 20px;
  margin-top: 21px;
}

.chk-lst-row {
  display: flex;
  flex-direction: row;
  height: 46px;
}

.ant-checkbox + span {
  color: #000;
  font-size: 14px;
}

.add-boq-btn{
  display: flex;
  margin-top: 40px;
  margin-left: 30px;
  width: 159px;
}