// Resource Library

.wrp-res-lib {
  width: 100%;
  min-height: 1024px;
  background-color: #eceff3;
  overflow-x: scroll;
}

.res-lib-cnt {
  //margin-left: 10px;
  margin-left: 20px;
}

.res-lib-tit {
  margin-top: 10px;
  //font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -1px;
  color: #000000;
}

.fnd-tit {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
  margin: 15px 0px 10px 0px;
}

.res-int {
  display: flex;
  flex-direction: row;
}

.res-int-inp {
  height: 40px;
  width: 590px;
  border-radius: 3px;
  margin-bottom: 25px;
}

.res-int-but {
  width: 109px;
  margin-left: 10px;
}

.brs-tit {
  //font-family: "Open Sans";
  font-size: 26px;
  line-height: 32px;
  margin-top: 30px;
}

.brs-txt1 {
  //font-family: "Open Sans";
  display: flex;
  flex-direction: row;
  // margin-top: 4px;
  margin-bottom: 10px;
  height: 30px;
}

.brs-txt {
  margin-top: 10px;
  display: flex;
  flex-direction: row;

  &-fil {
    margin-left: 10px;
    // margin-bottom: 10px;
    width: 787px;
    height: 65px;
    //font-family: SF Pro Text;
    font-size: 15px;
    // display: flex;
    // flex-direction: row;
  }
  // &-but {
  //   width: 219px;
  //   cursor: pointer;
  //   background: #f4f6f8;
  //   border: 1px solid #c4cdd5;
  //   box-sizing: border-box;
  //   box-shadow: inset 0px 1px 1px rgba(99, 115, 129, 0.601081),
  //     inset 0px 1px 4px rgba(99, 115, 129, 0.197945);
  //   border-radius: 3px;
  // }
  }
  .div-button {
    width: 219px;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -44px;
    margin-left: 515px;
  }

.btr-tst {
  width: 300px;
  margin-top: 15px;
  margin-left: 120px;
}

.btr-imp {
  width: 75px;
}

.btr-cat-tit {
  //font-family: SF Pro Display;
  font-size: 26px;
  line-height: 32px;
  margin-top: 15px;
}

.btr-prm-tit {
  // font-family: SF Pro Display;
  font-size: 18px;
  font-weight: 700;
  // width: 20px;
  color: #b7bcc0;
  line-height: 12px;
  margin-top: 15px;
}

.btr-sec-tit {
  // font-family: SF Pro Display;
  font-weight: 700;
  font-size: 18px;
  color: #b7bcc0;
  line-height: 12px;
  margin-top: 15px;
}

.lst-main {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow-x: scroll;
  // flex-wrap: wrap;
}

.fin-res-pri {
  display: flex;
  flex-direction: row;
}

.fin-res-sec {
  display: flex;
  flex-direction: row;
}

.btr-lst {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
  width: 309px;
  height: 443px;
  background-color: #fff;
  overflow-y: scroll;

  &-icn {
    display: -webkit-inline-box;
    background-color: #fff;
    width: 39px;
    height: 40px;

    &-lefttag {
      // position: absolute;
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  &-grp {
    width: 251px !important;
    height: 40px;
    // border-right: none;
    :hover{
      background-color: red;
    }

    &-list-group-item {
      border: none !important;
    }
  }
}
.btr-lst1 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
  width: 312px;
  height: 443px;
  background-color: #fff;
  overflow-y: scroll;

  &-icn1 {
    display: -webkit-inline-box;
    background-color: #fff;
    width: 43px;
    height: 40px;

    &-lefttag1 {
      margin-left: 5px;
      margin-top: 10px;
    }
  }

  &-grp1 {
    width: 251px !important;
    height: 40px !important;
    border-right: none;
  }
}

.btr-lst2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
  width: 309px;
  height: 443px;
  background-color: #fff;
  overflow-y: scroll;

  &-icn2 {
    display: -webkit-inline-box;
    background-color: #fff;
    width: 39px;
    height: 40px;
  }

  &-grp2 {
    width: 251px !important;
    height: 40px !important;
    border-right: none;
  }
}

.btr-lst3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
  width: 309px;
  height: 443px;
  background-color: #fff;
  overflow-y: scroll;

  &-icn3 {
    display: -webkit-inline-box;
    background-color: #fff;
    width: 39px;
    height: 40px;
  }

  &-grp3 {
    width: 251px !important;
    height: 40px !important;
    border-right: none;
  }
}

.btr-lst4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-right: 20px;
  width: 309px;
  height: 443px;
  background-color: #fff;
  overflow-y: scroll;

  &-icn4 {
    display: -webkit-inline-box;
    background-color: #fff;
    width: 39px;
    height: 40px;
  }

  &-grp4 {
    width: 251px !important;
    height: 40px !important;
    border-right: none;
  }
}

.lst-gup2 {
  margin-top: 20px;
  margin-right: 15px;
  width: 290px;
  height: 400px;
  overflow-y: auto;
  background-color: #fff;
}

.btr-btn {
  width: 27px;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  margin-top: -7px;
}

.MuiIconButton-root {
  padding: 0 10px 0px 0px !important;
  height: 18px !important;
}

.pro-lst-cat {
  // margin-left: 15px;
  margin-left: 20px;
}

.MuiPaper-elevation8 {
  box-shadow: 0px 0px 0px rgba(0, 5, 82, 0.1),
    0px 1px 6px rgba(34, 43, 54, 0.08) !important;
}

.list-group-item {
  border: none;
}

.res-lst-flw {
  display: flex;
  cursor: pointer;

  &-lst {
    display: flex;
    flex-direction: row;
  }
}

.res-lst-flw1 {
  display: flex;
  cursor: pointer;

  &-lst1 {
    display: flex;
    flex-direction: row;
  }
}

.res-lst-flw2 {
  display: flex;
  cursor: pointer;
}

.res-lst-flw3 {
  display: flex;
  cursor: pointer;

  &lst3 {
    display: flex;
    flex-direction: row;
  }
}

.res-lst-flw4 {
  display: flex;
  cursor: pointer;

  &lst4 {
    display: flex;
    flex-direction: row;
  }
}

.showme {
  display: none;
  // width: 0; height: 0;
  // width: 200px;
}

.res-lst-flw:hover .showme {
  display: block;
  background-color: #f8f9fa;
  // margin-top: 20px;
}

.res-lst-flw:hover .btr-lst-icn {
  background-color: #f8f9fa;
}

.res-lst-flw:hover .btr-lst-grp {
  background-color: #f8f9fa;
}

.btr-lefttag-leve3 {
  margin-left: 5px;
  margin-top: 10px;
}

.showicon {
  display: none;
}

.res-lst-flw1:hover .showicon {
  display: block;
}

.res-lst-flw1:hover .btr-lst1-icn1{
  background-color: #f8f9fa;
}

.res-lst-flw1:hover .btr-lst1-grp1{
  background-color: #f8f9fa;
}

.res-lst-flw1:hover .res-tag-lib {
  background-color: #f8f9fa;
}

.showleft {
  display: none;
}

.res-lst-flw2:hover .showleft {
  display: block;
}

.res-lst-flw2:hover .btr-lst2-icn2 {
  background-color: #f8f9fa;
}

.res-lst-flw2:hover .btr-lst2-grp2{
  background-color: #f8f9fa;
}

.res-lst-flw2:hover .res-tag-lib {
  background-color: #f8f9fa;
}

.showbox {
  display: none;
}

.res-lst-flw3:hover .showbox {
  display: block;
}

.res-lst-flw3:hover .btr-lst3-icn3 {
  background-color: #f8f9fa;
}

.res-lst-flw3:hover .btr-lst3-grp3{
  background-color: #f8f9fa;
}

.res-lst-flw3:hover .res-tag-lib {
  background-color: #f8f9fa;
}

.showdrop {
  display: none;
}

.res-lst-flw4:hover .showdrop {
  display: block;
}

.res-lst-flw4:hover .btr-lst4-icn4 {
  background-color: #f8f9fa;
}

.res-lst-flw4:hover .btr-lst4-grp4{
  background-color: #f8f9fa;
}

.res-lst-flw4:hover .res-tag-lib {
  background-color: #f8f9fa;
}

.lst2 {
  display: flex;
  flex-direction: column;
}
.dropbtn {
  border: none;
  background-color: #f8f9fa;
}

.btr-drp-dwn {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.btr-drp-dwn-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -150px;
}

.btr-drp-dwn-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.btr-drp-dwn-content div:hover {
  background: rgba(223, 227, 232, 0.3);
  border-left: 3px solid #00ff;
}

.btr-drp-dwn:hover .btr-drp-dwn-content {
  display: block;
}

.btr-drp-dwn:hover .dropbtn {
}

.lst-hed {
  margin-top: -20px;
  position: absolute;
  width: 770px;
  height: 152px;
  overflow: auto;

  &-grp {
    height: 38px;
    border: 1px solid #cbd4dc;
  }
}

.res-tag-lib {
  // margin-top: 14px;
  width: 39px;
  height: 40px;
}

.search-focus {
  animation: focus 1s;
  animation-timing-function: linear;

  @keyframes focus {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }
  width: 251px !important;
  height: 40px;
  border-right: none;

  &-list-group-item {
    border: none !important;
  }
}

.tag-focus {
  animation: mymove 1s;
  animation-timing-function: linear;

  @keyframes mymove {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }

  .dropbtn-tagfocus {
    border: none;
    background: rgba(179, 188, 245, 0.5);
  }

  &-btr-lst-icn {
    display: -webkit-inline-box;
    width: 40px;
    height: 40px;
  }
  &-lefttag {
    margin-left: 5px;
    margin-top: 10px;
  }
}


.tag-focus-level1 {
  animation: level1 1s;
  animation-timing-function: linear;

  @keyframes level1 {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }
}
.tag-focus-btr-lst1-icn1 {
  display: -webkit-inline-box;
  width: 40px;
  height: 40px;
}

.lefttag1 {
  margin-left: 5px;
  margin-top: 10px;
}

.tag-focus-level2 {
  animation: level1 1s;
  animation-timing-function: linear;

  @keyframes level1 {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }
}
.tag-focus-btr-lst2-icn2 {
  display: -webkit-inline-box;
  width: 40px;
  height: 40px;
}

.lefttag3 {
  margin-left: 5px;
  margin-top: 10px;
}

.search-focus-level1 {
  animation: focuslevel1 1s;
  animation-timing-function: linear;

  @keyframes focuslevel1 {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }
  width: 251px !important;
  height: 40px;
  border-right: none;

  &-list-group-item {
    border: none !important;
  }
}

.search-focus-level2 {
  animation: focuslevel2 1s;
  animation-timing-function: linear;

  @keyframes focuslevel2 {
    from {
      background: rgba(179, 188, 245, 0.5);
    }
    to {
      background: rgba(179, 188, 245, 0.5);
    }
  }
  width: 251px !important;
  height: 40px;
  border-right: none;

  &-list-group-item {
    border: none !important;
  }
}