.sub-mdl {
    width: 100%;
    height: 532px;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
  
    &-hdr {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 50px;
      
    }
  }
  
  .sub-tit {
    width: 420px;
    height: 32px;
    left: 28px;
    top: 28px;
    font-family: SF Pro Display;
    font-size: 23px;
    line-height: 32px;
  }

.sub-cnt {
    background: linear-gradient(180deg, #FEFEFE 3.65%, #ECEFF3 56.77%);
    height: 395px;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    overflow-y: scroll;

    &-top {
        background: #ECEFF3;
        height: 77px;
    }
    &-tit {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        margin-left: 15px;
        line-height: 19px;
    }

    &-flw {
        display: flex;
        flex-wrap: wrap;

        &-but {
            color: #00ff;
            margin-left: 15px;
            margin-top: 5px;
        }
        &-but1 {
            color: #00ff;
            margin-top: 5px;
        }
        &-val {
            color: #00ff;
            margin-top: 5px;
            margin-left: 16px;
        }
    }

    &-fld {

    }

    &-tit1 {
        margin-top: 20px;
        margin-left: 15px;
    }

    &-inp1 {
        width: 374px;
        height: 35px;
        margin-top: 6px;
        margin-left: 15px;
    }

    &-add {
        margin-top: 10px;
        width: 190px;
    }
}

.sub-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    &-lvl {
        width: 65px;
    }
}


