// Success Modal styles

.suc-mdl {
  width: 100%;
  height: 241px;
  padding: 20px 20px 20px 20px;

  &-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #50b83c;
  }
}

.suc-tit {
  width: 420px;
  height: 32px;
  left: 28px;
  top: 28px;
  // font-family: SF Pro Display;
  font-size: 23px;
  line-height: 32px;
}

.suc-cnt {
  width: 100%;
  height: 80%;
  
  &-shw {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      #e3f1df;
    box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
      0px 1px 3px rgba(63, 63, 68, 0.15);
  }

  &-icn {
    padding-top: 10px;
  }

  &-des {
    // font-family: SF Pro Text;
    font-size: 14px;
    line-height: 24px;
    color: #212b36;
    padding-left: 10px;
    padding-top: 10px;
  }

  &-txt {
    margin-top: 10px;
  }

  &-add {
    width: 204px;
    margin-top: 10px;
  }

  &-main {
    margin-top: 15px;
  }

  &-rot {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-crt {
      width: 60px;
    }
  }
}
