body {
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #2c2e2f !important;
  background-color: #f2f2f2 !important;
}

.cardStyle {
  background: rgba(62, 65, 85, 0.8);
  border-radius: 20px;
  color: #3e4155 !important;
  text-align: center !important;
  width: unset;
}
.cardTitleStyle {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  color: #f8f9fb;
}
.cardSubTitleStyle {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: rgba(248, 249, 251, 0.5);
}

// .awardedCardStyle {
//   background: rgba(62, 65, 85, 0.2);
//   border-radius: 20px;
//   color: #8f8f8f !important;
// }
.tenderHeading {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  display: flex;
  align-items: center;
  // color: #43598f;
  color: #1c2260;
  // width: 58.5%;
  margin-bottom: 10px;
  letter-spacing: -1px;
  padding-left: 0px !important;
}

.tenderHeadingMainDiv {
  margin-left: 15px !important;
}

.cardDiv {
  margin-top: 30px;
  margin-bottom: 30px;
}

.statusText {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #212b36;
  margin-top: 30px;
  margin-bottom: 30px;
}

//tender lsit table

.tenderListTableHeading {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #1c2260;
}

.tableDiv {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ant-table-thead > tr > th {
  // font-family: "SF Pro Text";
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: #000000 !important;
}
.tableDiv .ant-table-tbody > tr {
  background-color: #f4f6f8;
}
.tableDiv .ant-table-tbody > tr > td {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.approvedBadgeStyle {
  background-color: #bbe5b3 !important;
  border: 2px solid #ffffff !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  border-radius: 100px;
}
.issuedBadgeStyle {
  background-color: #ffe98a !important;
  border: 2px solid #ffffff !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  border-radius: 100px;
}
.badgeStyle {
  // background-color: #707070 !important;
  border: 2px solid #ffffff !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  border-radius: 100px !important;
  height: 20px !important;
  width: 60px;
  height: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.numbersOfTenderDiv {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #212b36;
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #dfe3e8;
  padding-bottom: 5px;
}

.inputStyle {
  margin-right: 0px !important;
  border-radius: 3px !important;
}
.filterStyle {
}
.filterStyle .form-control {
  width: unset;
  height: unset;
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  color: #212b36;
  background: #ffffff;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 6px;
  margin-right: 0;
}

.tableRow {
  //background-color: pink !important;
  color: "red";
  margin-top: 50px !important;
}

//tenders new

.tendersIcon {
  padding-left: 20px;
}

.tenderListMainDiv {
  // margin-top: 30px;
  // margin-right: 20px;
  // margin-left: 20px;
  background-color: #f2f2f2;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 20px;
}
.serachAndFiltersMainDiv {
  background-color: #fff;
  padding-left: 15px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 8px;
}

.listItemStyle {
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}
.openTenderStyle {
  border: 3px solid rgba(4, 147, 4, 0.3);
}
.withdrawnTenderStyle {
  border: 3px solid rgba(231, 94, 44, 0.3);
}
.closedTenderStyle {
  border: 3px solid rgba(0, 0, 0, 0.3);
}
.defaultTenderStyle {
  border: 3px solid #808080;
}

.tenderTilte {
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  display: flex;
  color: #4a42ed;
  padding-right: 25px;
  padding-left: 10px;
  width: 351px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.tenderTilte:hover {
  overflow: visible;
  white-space: normal;
}
.tenderIdStyle {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2c2e2f;
}
.locationStyle {
  padding-right: 15px;
}
.closingDate {
  padding-right: 8px;
}
.tenderValue {
  padding-right: 10px;
}
.itemRowStyle {
  padding-bottom: 10px;
}
.itemStyle {
  padding-top: 20px;
}
.locatioDiv {
  padding-bottom: 15px;
}
.categoryDiv {
  padding-bottom: 10px;
}
.categoryValue {
  font-weight: bold;
}
.lastRowStyle {
  padding-right: 30px;
}

.openTenderText {
  color: rgba(4, 147, 4, 0.3);
  font-weight: bold;
}
.withdrawnTenderText {
  color: rgba(231, 94, 44, 0.3);
  font-weight: bold;
}
.closedTenderText {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
}
.bidsStyle {
  padding-right: 5px;
  font-weight: 800;
}
.zeroBidBadge {
  background-color: #ffc48b !important;
  border: 2px solid #ffffff !important;
  border-radius: 100px !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-size: 13px !important;
  height: 20px !important;
  width: 60px;
  height: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  color: #000000 !important;
}
.lessthanFiveBidBadge {
  background-color: #ffe98a !important;
  border: 2px solid #ffffff !important;
  border-radius: 100px !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-size: 13px !important;
  height: 20px !important;
  width: 60px;
  height: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  color: #000000 !important;
}
.moreThanFiveBidBadge {
  background-color: #bbe5b3 !important;
  border: 2px solid #ffffff !important;
  border-radius: 100px !important;
  // font-family: "SF Pro Rounded";
  font-style: normal;
  font-size: 13px !important;
  height: 20px !important;
  width: 60px;
  height: unset !important;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  color: #000000 !important;
}
.showMoreButtonDiv {
  // margin-top: 20px;
  // margin-bottom: 25px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.listItemMainDiv {
  margin-top: 8px;
  // margin-left: 15px;
}
.cursorPointer {
  cursor: pointer;
}
#search_input::placeholder {
  color: #8ba4ba;
  opacity: 1; /* Firefox */
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

#search_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #8ba4ba;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

#search_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #8ba4ba;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.lhyQmCtWOINviMz0WG_gr {
  background-color: pink;
}

.optionContainer li:hover,
.optionContainer .highlight {
  background: rgba(223, 227, 232, 0.3) !important;
  color: #000 !important;
}
.optionContainer li:focus {
  background: rgba(223, 227, 232, 0.3);
  color: #000;
}

.optionContainer li:focus {
  background: #fff;
  color: #000;
}
.optionContainer {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #212b36 !important;
}

._3crOX-etLxsZ8OgjhYCvt7 {
  font-size: 0px !important;
  float: none !important;
  margin-left: 2px !important;
  //cursor: pointer;
}
.search-wrapper {
  white-space: nowrap !important;
  overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  //background-image: url('../../svgs/Select.svg');

  //text-overflow: clip !important;
  //word-wrap: normal !important
}
// input[type=text] {
//   content: url('../../svgs/Select.svg') !important;
// }
// ._1cgu0CqbPSvU9G_sHmk1wv:before {
//   content: url('../../svgs/Select.svg') !important;
// }
// .searchBox {
//   content: url('../../svgs/Select.svg') !important;

// }
.input-group-text {
  background-color: #fff !important;
}

.searchButtonMainDiv {
  //margin-left: 15px !important;
}
.addMoreIcon {
  padding-top: 8px;

  margin-right: -10px;
  margin-left: 20px;
}
.draftsTenders {
  margin-right: 15px;
}
// ._1YkOwrSkIvJIAvNNRNP3P5 {
//   display: block !important;
// }
.Dv7FLAST-3bZceA5TIxEN {
}
.datePickerMainDiv {
  margin-left: 170px;
  position: absolute;
  z-index: 5;
  left: 34%;
  // top: 70%;
  top: 310px;
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  // padding: 20px;
}
.datePickerMainDivForClosingDate {
  // margin-left: 170px;
  position: absolute;
  z-index: 5;
  left: 59%;
  // top: 70%;
  top: 310px;
  border: 1px solid #dfe3e8;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px -8px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
.datePickerMainDiv .dte-pic-wrp {
  display: flex;
  box-shadow: unset !important;
  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0;
}
.datePickerMainDivForClosingDate .dte-pic-wrp {
  display: flex;
  box-shadow: unset !important;
  padding: 20px;
  padding-top: 0px;
  padding-right: 0px;

  padding-bottom: 0;
}
.datePickerMainDiv .dte-pic-wrp .react-datepicker {
  margin-right: 20px;
  // padding: 20px;
}

.datePickerMainDivForClosingDate .dte-pic-wrp .react-datepicker {
  margin-right: 20px;
  // padding: 20px;
}

.datepickerFromButton {
  width: 259px;
  margin: 0;
  padding-left: 20px;
}
.datepickerToButton {
  width: 242px;
  margin: 0;
  margin-left: 21px;
  // padding-left:20px
}
.fromToMainDiv {
  padding-top: 15px;
}
.applyButtonDiv {
  margin-bottom: 10px;
}
.sortMainDiv {
  margin-top: 30px;
  // padding-left: 15px;
}

.noOfTenders {
  /* 01 Form Data */
  // font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}
.noOfTendersDiv {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
  width: 79%;
}

.sortBy {
  padding-top: 6px;
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #637381;
  padding-left: 12px;
  text-align: left;
  padding-left: 12px;
  padding-top: 4px;
  width: 63px;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  border-right: 0px !important;
}
.sortByMainDiv ._7ahQImyV4dj0EpcNOjnwA {
  color: rgba(0, 0, 0, 0.9) !important;
}
.sortInput {
  border: unset !important;
  // font-family: "SF Pro Text" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.9) !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  // border: 1px solid #c4cdd5;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
}
.sortByMainDiv {
  // background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  // border: 1px solid #c4cdd5;
  // box-sizing: border-box;
  // box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  // border-radius: 3px;
}

.filterHeadingMainDiv {
  padding-bottom: 3px;
}
._7ahQImyV4dj0EpcNOjnwA {
  padding: unset !important;
  margin: unset !important;
  padding-left: 10px !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
}
.sortByMainDiv .search-wrapper {
  border: unset !important;
  box-shadow: unset !important;
}
.filtersDiv {
  padding-left: 0 !important;
  margin-left: 15px !important;
}

.filtersDiv ._2iA8p44d0WZ-WqRBGcAuEV {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.sortByMainDiv ._2iA8p44d0WZ-WqRBGcAuEV {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.sortByMainDiv ._3vt7_Mh4hRCFbp__dFqBCI {
  width: 175px !important;
}
.searchInput {
  background: rgba(255, 255, 255, 0.12) !important;
  border: 1px solid #c4cdd5 !important;
  border-radius: 3px !important;
  box-shadow: unset !important;
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #637381 !important;
  padding-left: 10px !important;
}
.tenderListMainDiv .input-group-text {
  background: rgba(255, 255, 255, 0.12) !important;
  border: 1px solid #c4cdd5 !important;
  border-radius: 3px !important;
}

.fontStyle {
  // font-family: "SF Pro Text";
  color: #000000;
}
.filterSubDiv {
}
.filterSubDiv ._32r8xHW3WLH5mygPuyDIBF {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #212b36 !important;
}
.filterSubDiv ._7ahQImyV4dj0EpcNOjnwA {
  color: #212b36 !important;
}
._32r8xHW3WLH5mygPuyDIBF {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #8ba4ba !important;
}

._7ahQImyV4dj0EpcNOjnwA {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  // color: #8ba4ba !important;
  color: #212b36 !important;
}
//modal
.addFilter {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #212b36;
  width: 100%;
}
.modalMainDiv {
  margin-top: 20px;
}
.closeIcon {
  margin-top: 8px;
}
.modalHeader {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #d7d7d7;
}

.filterCheckboxMainDiv {
  margin-top: 70px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 70px;
}
.checkBoxWithContent {
  margin-bottom: 24px;
}
.saveButton {
  border-top: 1px solid #d7d7d7;
}
.saveButtonSubDiv {
  padding-top: 10px;
  padding-bottom: 10px;
}
.saveButtonDiv {
  width: 90px;
}
.disabledFilterText {
  // font-family: "SF Pro Text" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;

  color: #919eab !important;
}
.modalSubHeadingText {
  color: #8ba4ba;
  // font-family: "SF Pro Text" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
}
.searchBox {
  nav-index: -1 !important;
  nav-index: 10;
  outline: 0;
}
input[type="focus"] {
  outline: none;
  nav-index: -1;
}

.filtersList {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #212b36;
}
.serviceTypeDiv {
  margin-left: 15px;
}

.blur_effect {
  filter: blur(6px);
}
.disableFocus {
}

.disableFocus ._1YkOwrSkIvJIAvNNRNP3P5 {
  // display: none !important;
}
._1YkOwrSkIvJIAvNNRNP3P5 {
  //display: none !important;
}

._3vt7_Mh4hRCFbp__dFqBCI input:focus ._1YkOwrSkIvJIAvNNRNP3P5 {
  display: block;
}

.bidsTextStyle {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: #414f3e;
}

@media all and (min-width: 767px) {
  .shortlistButtonMainDiv {
    justify-content: flex-end;
  }
}

//dropdown
.dropdownDiv {
}

.dropdownDiv {
  white-space: nowrap !important;
  overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  min-height: 45px !important;
  padding-top: 8px !important;
  padding-left: 10px !important;

  padding-bottom: 8px !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  justify-content: flex-start !important;
  color: #212b36 !important;
  margin: 0px !important;
  width: 100%;
  text-align: start !important;
}
.dropdownDivForCustomRange {
  white-space: nowrap !important;
  overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  min-height: 45px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  justify-content: flex-start !important;
  color: #212b36 !important;
  margin: 0px !important;
  // letter-spacing: -1px;
  padding-left: 3px !important;
  padding-right: 1px !important;
  text-align: start !important;
}

.defaultDropdownDiv {
  white-space: nowrap !important;
  overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  min-height: 45px !important;
  padding-top: 8px !important;
  padding-left: 10px !important;
  justify-content: flex-start !important;
  padding-bottom: 8px !important;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  justify-content: flex-start !important;
  color: #8ba4ba !important;
  margin: 0px !important;
  width: 100%;
  text-align: start !important;
}

.dropDownMenu {
  width: -webkit-fill-available !important;
  padding: 0px !important;
}
.dropDownItem {
  // font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: rgb(33, 43, 54) !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  color: #3f6895;
}

.dropDownItem:focus {
  background-color: rgba(223, 227, 232, 0.3) !important;
}

// .dropdown-toggle{
//   background: url('../../svgs/tender_icon.svg') !important;

// }

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background: rgba(223, 227, 232, 0.3) !important;
}
.dropdownDivForSort {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important ;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  padding-left: 10px !important;

  padding-bottom: 8px !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  justify-content: flex-start !important;
  color: #212b36 !important;
  margin: 0px !important;
  min-height: 30px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-left: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  width: 100%;
  text-align: start !important;
}

.defaultDropdownDivForSort {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important ;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
  padding-left: 10px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;

  padding-left: 10px !important;
  justify-content: flex-start !important;
  padding-bottom: 8px !important;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  justify-content: flex-start !important;
  color: #8ba4ba !important;
  margin: 0px !important;
  min-height: 30px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-left: 0px !important;
}

.sortByDropdownDiv {
  width: 172px;
}
.datePickerDiv {
}
.datePickerDiv .react-datepicker__day--keyboard-selected {
  background-color: #b3bcf5 !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #212b36 !important;
  border: unset !important;
}
.datePickerDiv .react-datepicker__day--selected {
  background-color: #b3bcf5 !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #212b36 !important;
  border: unset !important;
}
.datePickerDiv .react-datepicker__day--in-range {
  background-color: #b3bcf5 !important;
  // font-family: SF Pro Text !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: #212b36 !important;
  border: unset !important;
}
.datePickerDiv .react-datepicker__day--in-selecting-range:hover,
.datePickerDiv .react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start:hover,
.react-datepicker__day--selecting-range-start {
  background-color: #b3bcf5 !important;
  border: unset !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  border: unset !important;
}
button:focus {
  outline: none !important;
}
.input-group-text:hover {
  cursor: pointer;
}

.moreFilterStyle {
  // font-family: Open Sans !important;
  padding-top: 4px;
  padding-left: 3px;
}
.itemRowStyle .btn-outline-info {
  border: 1px solid #b7bcc0 !important;
  border-radius: 100px !important;
  padding-top: 3px;
  padding-bottom: 3px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-left: 5px;

  /* identical to box height, or 114% */

  /* /text/Hyperlink */
  color: #4a42ed !important;
}
