// Tender List Styles

.ten-lst {
  height: 100%;
  min-height: 100%;
  background-color: #eceff3;
}

.ten-hed {
  width: 100%;
  background-color: #eceff3;
  padding: 10px;

  &-hdr {
    display: flex;
    flex-direction: column;

    @include media-break("md") {
      flex-direction: row;
    }
  }

  &-tit {
    flex-grow: 1;
  }

  &-nme {
   // font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #43598f;
  }

  &-btn {
    display: flex;
  }
}

.ten-crd {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: inline-flex;
}

.card {
  margin-right: 15px;
  width: 227px;
  height: 153px;
  border-radius: 20px;
  background-color: #3e4155;
  text-align: center;
}

.card-title {
  //font-family: SF Pro Display;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #f8f9fb;
  padding-top: 10px;
}

.card-text {
  //font-family: SF Pro Display;
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;
  color: rgba(248, 249, 251, 0.5);
}

.lst-vds {
 // font-family: SF Pro Display;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #1c2260;
}
