// Tender Summary Page
.ten-smr {
  width: 100%;
  min-height: 100%;
  background-color: #eceff3;
  padding: 10px;
}

.smr-wrp {
  height: 100%;
  min-height: 100%;
}

.smr-hdr {
  display: flex;
  flex-direction: column;

  @include media-break("md") {
    flex-direction: row;
  }
}

.ten-par {
  width: 95%;

  @include media-break("md") {
    width: 100%;
  }
}

.smr-tit {
  flex-grow: 1;
}

.smr-btn {
  display: flex;
}

.smr-hdr-nme {
  // font-family: SF Pro Text;
  width: 50%;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  letter-spacing: -1px;
  color: #43598f;
}

.cnt-sum {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding-bottom: 25px;
  margin-top: 5px;

  @include media-break("md") {
    margin-top: 0;
  }
}

.sum-det {
  display: flex;
  flex-direction: column;
  padding: 20px 0 0 18px;
}

.sum-det-hed {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  margin-top: 10px;
  color: #4a42ed;
}

.ted-det {
  width: 481px;
  margin-top: 20px;
}

.ted-val {
  width: 191px;
  height: 40px;
}

.val-idy-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.det-idy {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.ted-prj {
  padding-left: 30%;
}

.prj-nme-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
  padding-top: 5px;

  @include media-break("md") {
    padding-top: 0;
  }
}

.prj-val-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.prj-loc-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
  padding-top: 5px;

  @include media-break("md") {
    padding-top: 0;
  }
}

.prj-sts-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
  padding-top: 5px;

  @include media-break("md") {
    padding-top: 0;
  }
}

.tpy-det-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.ted-val-nme {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
  padding-top: 5px;

  @include media-break("md") {
    padding-top: 0;
  }
}

.ifo-isu-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.info-res-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.info-sts-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.cnt-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.info-mbl-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.info-mil-hed {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.det-nme {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.ted-prj-det,
.ted-tpy-det {
  padding-top: 5%;
}

.ten-smr-par {
  padding-top: 3%;
}

.smr-rls,
.smr-txt {
  padding-top: 2%;
}

.smr-ten-doc {
  margin-top: 7%;
}

.smr-doc-nme {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  margin-top: 10px;
  color: #4a42ed;
}

.smr-cnt {
  color: #8ba4ba;
  font-size: 18px;
  line-height: 20px;
}

.cge-lnk {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4a42ed;
  &:hover {
    color: darken(#4a42ed, 20%);
  }
}

.doc-tit {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.doc-tlt {
  padding-top: 1%;
}

.lst {
  padding-top: 10px;
}
.sum-det {
  width: 100%;
  min-height: 100%;
}

.usr-info {
  width: 95%;
  height: 623px;
  background: #ffffff;
  border: 1px solid #b7bcc0;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 0 10px 14px;
  margin-left: 10px;

  @include media-break("lg") {
    margin-left: 0;
  }
}

.info-key-hed {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #4a42ed;
}

.info-isu,
.info-res,
.info-sts,
.info-cnt,
.info-mbl,
.info-mil,
.pay-cnt,
.pay-blc,
.pay-ret {
  padding-top: 10px;
}

.info-isu-hed,
.info-res-hed,
.info-sts-hed,
.cnt-hed,
.info-mbl-hed,
.info-mil-hed,
.pay-pra,
.pay-blc-pra,
.pay-ret-val {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.info-cnt-hed,
.info-pay-hed {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #4a42ed;
  padding-top: 20%;
}

.det-idy,
.det-nme,
.prj-val,
.prj-loc,
.prj-sts,
.ted-tpy,
.ted-typ-val,
.info-isu-dte,
.info-res-dte,
.info-sts-vle,
.cnt-nme,
.mbl-val,
.mil-val {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2c2e2f;
}

.ten-trm {
  // font-family: SF Pro Display;
  font-size: 26px;
  color: #4a42ed;
  margin-top: 7%;
}

.ten-pge-brk {
  margin-top: 8%;
}

.ten-pge-area1 {
  margin-top: 2%;
}
.ten-pge-area {
  margin-top: 2%;
}

.txt-area-crt {
  margin-right: 2%;
}

.att-file-flw {

}

.text-area-design {
  background: #FFFFFF;
  border: 1px solid #C4CDD5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
}

.tab-lnk {
  margin-left: 3px;
}

.ten-ovr-vew {
  // font-family: Open Sans;
  font-size: 14px;
  line-height: 20px;
  color: #4a42ed;
  margin-right: 15px;

  &:hover {
    font-size: 15px;
    text-decoration: underline;
    color: #000;
    font-weight: 700;
  }
}

.tst-min {
  position: fixed;
  top: 30%;
  left: 60%;
  width: 324px;
  height: 104px;
  margin-top: -9em;
  margin-left: -15em;
  background-color: #212b36;

  &-hed {
    background-color: #212b36;
    border: none;
  }
}

.pub-pug {
  display: flex;
  flex-direction: row;
}

.ten-mnu {
  margin-top: 20px;
}

.drt-btn {
  display: flex;
  flex-direction: row;
}

.questionsAndAnswersText {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  color: #4a42ed;
}

.dropdownDivStyle {
  //white-space: nowrap !important;
  //overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  min-height: 36px !important;
  padding-left: 10px !important;

  padding-bottom: 8px !important;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  justify-content: flex-start !important;
  color: #212b36 !important;
  margin: 0px !important;
  width: 100%;
  text-align: start !important;
}
.defaultDropdownDivStyle {
  //white-space: nowrap !important;
  //overflow: hidden !important;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  border-radius: 0px 3px 3px 0px !important;
  min-height: 36px !important;
  padding-top: 3px !important;
  padding-left: 10px !important;
  justify-content: flex-start !important;
  padding-bottom: 3px !important;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #212b36 !important;
  margin: 0px !important;
  width: 100%;
  text-align: start !important;
}

.dropDownMenuStyle {
  width: -webkit-fill-available !important;
  padding: 0px !important;
}
.dropDownItemStyle {
  // font-family: "Open Sans" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  color: rgb(33, 43, 54) !important;
  padding-left: 10px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.questionsMainDiv {
  border: 1px solid #d7d7d7;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.questionDate {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2c2e2f;
  padding-top: 15px;
}

.questionText {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #2c2e2f;
  padding-top: 15px;
}

.replyLinkText {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  /* /text/Hyperlink */
  color: #4a42ed;
  padding-top: 20px;
}

.replyMainDiv {
  padding-left: 60px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.replyText {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #000000;
  padding-left: 15px;
}
.qanda {
}
.btn-secondary:focus {
  box-shadow: unset !important;
}
button:focus {
  outline: none !important;
}

.ven-log-shw {
  background-color: #fff;
}

.ven-grd {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 45px;
}

.ven-grd-btn {
  margin-left: 90px;
  margin-top: 20px;
  width: 123px;
}

.ven-grd-btn1 {
  margin: 20px 20px 0px 20px;
  width: 118px;
}

.ven-grd-ask {
  margin-top: 25px;
  width: 350px;
}

.crt-bid {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.go-back-txt {
  margin-top: 6px;
}

.crt-tit {
  margin-top: 8px;
}

.det-btn-ten {
  width: 120px;
}

.crt-inf {
  width: 95%;
  height: 423px;
  background: #fbeae5;
  border: 1px solid #b7bcc0;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 0 10px 14px;
  margin-left: 10px;

  @include media-break("lg") {
    margin-left: 0;
  }
}

.shw-war {
  background-color: #fca083;
  border: 2px solid #fff;
  width: 59px;
  font-size: 13px;
  border-radius: 10px;
}

.bid-btn-siv {
  display: flex;
  flex-direction: row;
}

.bid-save {
  width: 98px;
}

.bid-chk {
  margin-top: 15px;
}

.bid-chk2 {
  // display: flex;
  // text-align: justify;
  margin-top: 15px;
  // width: 569px;
}

.ten-cnt-bid {
  margin-left: 15px;
}

// Success Modal styles

.qus-mdl {
  width: 100%;
  height: 541px;
  padding: 20px 20px 20px 20px;

  &-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #d3d3d3;
  }
}

.qus-tit {
  width: 925px;
  height: 32px;
  left: 28px;
  top: 28px;
  // font-family: SF Pro Display;
  font-size: 23px;
  line-height: 32px;
  font-weight: bold;
}

.qus-cnt {
  width: 100%;
  height: 80%;

  &-shw {
    display: flex;
    flex-direction: row;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      #e3f1df;
    box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05),
      0px 1px 3px rgba(63, 63, 68, 0.15);
  }

  &-icn {
    padding-top: 10px;
  }

  &-des {
    // font-family: SF Pro Text;
    font-size: 14px;
    line-height: 24px;
    color: #212b36;
    padding-left: 10px;
    padding-top: 10px;
  }

  &-txt {
    margin-top: 10px;
  }

  &-add {
    width: 204px;
    margin-top: 10px;
  }

  &-main {
    margin-top: 15px;
  }

  &-rot {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &-crt {
      width: 60px;
    }
  }
}
.inp-bot {
  width: 100%;
  margin-top: 30px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #d3d3d3;
  font-size: 14px;
}

.mod-flw-btn {
  display: flex;
  flex-direction: row;

  &-pos {
    width: 100px;
  }
}

.ath-fle {
  border: none;
  color: #00ff;
  font-size: 16px;
}

.ten-bid-btn {
  width: 100px;
}

.bid-lst-tit {
  font-size: 26px;
  color: #00f;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.lst-bid-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ven-grd-suc-sho {
  margin-top: 20px;
  margin-left: 20px;
  border: 1px solid #049304;
  background: rgba(192, 245, 179, 0.3);
  width: 324px;
  height: 77px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noQuestions .disclaimerText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.disclaimer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  color: #000000;
}
.disclaimerMainDiv {
  border-top: 1px solid #919eab;
  margin-left: 20px;
  margin-right: 20px;
}
.questionsByYouText {
  font-weight: normal;
  font-size: 22px;
  color: #000000;
}
.questionsList {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4a42ed;
  text-decoration: underline;
}

.questionsMainDivBuyer {
  border-bottom: 1px solid #d7d7d7;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.questionByOthersText,
.linkStyle {
  color: #4a42ed;
}
.linkStyle {
  text-decoration: underline;
}
.answerDate {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #8ba4ba;
}
.questionTextInBuyer {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #2c2e2f;
}

.replyTextInBuyer {
  font-style: normal;
font-weight: normal;
font-size: 14px;

color: #2C2E2F;
}
.vendorUserImage {
  padding-top: 18px;
  padding-right: 13px;  
}

.questionsMainDivBuyer .ant-popover {
  width: 47% !important;
}

.answerIcon {
  padding-right: 10px
}

.popoverStyle {
  width: 47% !important;
}
.cursorPointer {
  cursor: pointer;
}