// Unit Tender
.wrp-mdl {
    width: 100%;
    height: 500px;
}

.unt-hdr {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e1e1e1;
}

.hdr-tit {
    //font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #212B36;
    padding: 1%;
    flex-grow: 1;
}

.unt-cnt {
    width: 98%;
    height: 80%;
    overflow: auto;
}

.hdr-cls {
    margin: 5px 10px 5px 5px;
}

.unt-ftr {
    border-top: 1px solid #e1e1e1;
}

.wrk-lst-btn {
    margin: 3%;
    width: 50%;
}

.frt-btn {
    width: 5%;
    margin: 5px 0 0 5px;
}

.wrp-add-cat {
    width: 50%;
    height: 60% !important;
    background: #FFFFFF;
    box-shadow: 0px 31px 41px rgba(33, 43, 54, 0.2), 0px 2px 16px rgba(33, 43, 54, 0.08);
    border-radius: 6px;
}

.add-cat-hdr {
    display: flex;
    align-items: center;
    height: 20%;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 10px;
}

.wrp-ind-cnt {
    width: 95%;
    height: 350px;
    display: flex;
    align-items: center;
}

.add-cat-cnt {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnt-int {
    width: 80%;
    margin-top: 5%;
}

.int-lbl {
    width: 80%;
    //font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #8BA4BA;
    padding-top: 3px;
}

.wrp-add-ftr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid #D7D7D7;
}
.tst1 {
    padding-top: 5px;
}

.add-cat-cls {
    padding: 1%;
}

.add-cat-tit {
    //font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #212B36;
    padding: 1%;
    flex-grow: 1;
}

.btn-outline-secondary {
    color: black;
    margin: 1px;
    &:hover {
        background-color: #fff;
        border-color: darken(#fff, 20%);
        color: #000000;
      }
}

.btn-add-icn {
   padding-right: 4px;
}

.cat-lst {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6% 3%;
    width: 65%;
    height: 30px;
    background-color: #F4F5FA;
}

.srh-res {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.res-slt {
    width: 30%;
}

.int-ftr {
    width: 55%;
    margin-top: 20px;
    margin-left: 10px;
}