// Vendor RegisterForm - Styles

body {
  font-size: 14px;
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  color: #2c2e2f;
  width: 100%;
    overflow-x: hidden;
}
.vendorRegFormRow {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
}
.vendorRegFormRowSecCol {
  display: flex;
  justify-content: flex-end;
}

.vendorRegFormText {
  font-size: 30px;
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  color: #43598f;
}

//vendor registartion form - company details

.formDetailsMainDiv {
  margin-top: 30px;
}
.rowCol1TextDiv {
  // font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #43598f;
}

.formDetailsMainDiv .col {
  margin-bottom: 15px;
}

.formGroupStyle {
  display: inline-block;
  margin-right: 10px;
}

.radioButtonFormGroup {
  margin-left: 18px;
}

.rowStyle {
  // margin-bottom: 15px;
  margin-bottom: 0px;
}

.rowStyle-chk {
  display: flex;
  flex-direction: row;
}

.buttonRowStyle {
  margin-top: 50px;
  margin-bottom: 20px;
}

.inputStyle {
  width: 100% !important;
  margin-right: 20px;
}

.inputFileStyle {
  margin-right: 20px;
  display: inline-block;
  width: 70%;
}

input[type="file"] {
  color: transparent;

  // position: absolute;
  // right: unset;
  // visibility: visible;
  // opacity: 1;
}

//vendor registration business details

.inputFieldStyle {
  width: 70%;
}
.selectOption {
  width: 50% !important;
}

.buttonStyle {
  width: 100% !important;
}
.inlineColStyle {
  margin-right: 20px;
  display: inline-block;
  width: 100% !important;
}
//vendor registration - address and contacts

.borderStyle {
  border-right: 1px solid #000;
  height: 15px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

.headingFontStyle {
  font-size: 14px;
  font-weight: bold;
  // font-family: "Open Sans";
  color: #000;
}
.linkButtonDiv {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tableStyle {
  padding-bottom: 100px;
}
.tableStyle table {
  border: none;
}
.tableStyle table th {
  border: none;
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}
.tableStyle table tr td {
  border: none;
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2c2e2f;
}
.tableStyle .ant-table-small {
  border: none;
}
.addressDiv {
  margin-bottom: 4px;
}
.addressRowStyle {
  margin-top: 40px;
}

//modal
.modalDiv {
  margin-top: 10px;
}

.modalHeader {
  // font-family: "SF Pro Display";
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  color: #212b36 !important;
}
.exampleText {
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #8ba4ba;
}

.formDetailsMainDiv .form-control {
  background: #ffffff;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  height: 48px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.companyDescriptionDiv {
}
.companyDescriptionDiv .form-control {
  height: unset;
}


.addProductButtonSubdiv {
  padding: 20px 10px 20px 20px;
}
.businessDocumentsStyle {
}
.businessDocumentsStyle input[type="file"] {
  // position: absolute;
  //right: unset;
  //visibility: visible;
  //opacity: 1;
}

.custom-file-label::after {
  content: "" !important;
  padding: unset;
  background-color: unset;
}
.custom-file-label {
  background: #ffffff !important;
  // border: 1px solid #8BA4BA !important;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21) !important;
  border-radius: 3px !important;
  height: 48px !important;
  padding-top: 13px;
  padding-bottom: 13px;
  white-space: nowrap;
  overflow: hidden;
}
.fileUploadIcon {
  position: absolute;
  right: -10px;
  bottom: 20px;
  // z-index: ;
}

.fileUploadIconTax {
  position: absolute;
  right: -10px;
  bottom: 65px;
  // z-index: 20;
}

.addDocument {
  // font-family: SF Pro Display;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  width: 100%;

  color: #212b36;
}
.businessDetailsModal {
}
.experienceModal {
}

.businessDetailsModal .form-control,
.experienceModal .form-control {
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21) !important;
  border-radius: 3px !important;
  // font-family: Open Sans !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  display: flex;

  color: #2c2e2f !important;
  // height: 48px !important;
}
.businessDetailsModal .css-2b097c-container,
.experienceModal .css-2b097c-container {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  //border: 1px solid #C4CDD5 !important;
  box-sizing: border-box !important;
  //box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
}

.closeIcon {
  margin-top: 0px;
}

.editDeleteModalDiv {
  background: #eceff1;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.addToProfile {
  margin-top: 100px;
}

.companySize {
  margin-top: 150px;
}
.sizeStyle {
  padding-bottom: 40px;
  padding-top: 20px;
}

.detailsText {
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #4a42ed;
}
.industriesDiv {
  // padding-bottom: 40px;
}
.ant-popover {
  width: 30%;
}
.documentTitleInView {
  margin-top: 30px;
  margin-bottom: 30px;
}

.closeIconInView {
  width: 100%;
  text-align: right;
}
.addressMainDiv {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
}
.addressMainDiv .form-control {
  background: #ffffff;

  /* /text/Subdued text */
  border: 1px solid #8ba4ba;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  // font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #2c2e2f;
  height: 48px;
}

.addressDetailsMainDiv {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

.addAnAddressMainDiv {
  padding: 10px;
  padding-left: 7px;
  margin-top: 22px;
}
.phoneNumberStyle {
  width: 165px !important;
}
.editContactStyle {
  width: 40px;
}
.contactMainDiv {
  padding: 10px;
  padding-left: 7px;
  margin-top: 15px;
}
.tableHeading {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}

.userProfile {
}

.userProfile .custom-file-label {
  width: 100px;
  height: 100px;
  background: #c4c4c4;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  height: 100px !important;
  border-radius: 50px !important;
  padding: 0px !important;
}
.userProfileImage {
  width: 100%;
}

.placeHolderImageDiv {
  position: absolute;
  top: 25%;
}
.placeHolderImageMainDiv {
  display: flex;
  justify-content: center;
}
.consultantsStyle {
  padding-bottom: 200px;
}
.consultantsStyle .search-wrapper {
  background: #ffffff !important;
  border: 1px solid #8ba4ba !important;
  box-sizing: border-box !important;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21) !important;
  border-radius: 3px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.formDetailsMainDiv .css-yk16xz-control {
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%) !important;
  border: 1px solid #c4cdd5 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05) !important;
  border-radius: 3px !important;
}
.valid-feedback {
  display: block !important;
  width: 100% !important;
  margin-top: 0.25rem !important;
  font-size: 90% !important;
  color: red !important;
}
.dropdown {
  display: block !important;
  margin-top: 0px !important;
}

//product and service modal
.productText {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2c2e2f;
  margin-bottom: 30px;
}

.productDiv .form-control {
  border: 2px solid #cbd4dc;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  background: rgba(255, 255, 255, 0.12);
  border-left: unset;
}
.productDiv .input-group-text {
  border: 2px solid #cbd4dc;
  background: rgba(255, 255, 255, 0.12);

  border-right: unset !important;
}

.productDiv .list-group-item {
  background: #dbe6ed;
  margin-bottom: 1px;
  // padding-top: 16px !important;
  // padding-bottom: 16px !important;
  padding-top: 19px !important;
  padding-bottom: 16px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #000000;
}
.productDiv .list-group-item::first-letter {
  text-transform: uppercase;
}
.searchCategoryText {
}
.searchCategoryText::first-letter {
  text-transform: uppercase;
}
.subcategoryCol {
}
.subcategoryCol .list-group-item {
  // margin-bottom: 1px;
}

.productCategoryDiv {
  width: 90%;
  display: inline-block;
}
.categoryIconDiv {
  display: inline-block;
  background: #dbe6ed;
  width: 10%;
  padding-top: 16px;
  padding-bottom: 16px;
}
.subCategoryIconDiv {
  display: inline-block;
  background: #dbe6ed;
  width: 10%;
  padding-top: 16px;
  padding-bottom: 15px;
}
.subCategorySelectedIconDiv {
  display: inline-block;
  background: #dbe6ed;
  width: 10%;
  padding-top: 16px;
  padding-bottom: 14px;
}

.listGroupRow {
  margin-top: 40px;
  margin-bottom: 40px;
}
.productCategoryMainDiv {
  cursor: pointer;
  // border: 1px solid #D5DDE3;
}
.tagDiv {
  background-color: #e9eef2;
  border-radius: 3px;
  padding: 10px;
  width: fit-content;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: #212b36;
}

.searchItemsDiv {
  position: absolute;
  z-index: 10;
  //background: rgba(219, 230, 237, 0.9);
  background-color: #fff;
  border: 2px solid #cbd4dc;
}
.serachListItem {
  border-bottom: 2px solid #cbd4dc;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #000000;
}
.listGroupRow .list-group {
  // border: 1px solid #D5DDE3;
  // border: 1px solid #D5DDE3;
}

.rightArrow {
  position: absolute;
  left: 32%;
  top: 50%;
}
.rightArrowSubCat {
  position: absolute;
  left: 64%;
  top: 50%;
}
//industries modal
.industriesCheckbox {
  display: inline-block;
  width: 12%;
  vertical-align: middle;


}
.industriesCheckboxLabel {
  display: inline-block;
  width: 88%;
  vertical-align: middle;
}
.checkboxMainDiv {
  padding-bottom: 15px;
}

.selectAllMainDiv {
border-top: 1px solid #D7D7D7;
border-bottom: 1px solid #D7D7D7;
margin-bottom: 20px;
}
.formDetailsMainDiv .invalid-feedback {
  font-size:90%;
  padding-top:0px;
  color:red;
}
.form-control.is-invalid {
  border: 1px solid red !important;
}
.errorMessage {
  font-size:90%;
  padding-top:0px;
  color:red;
  padding-top: 5px;
}

.formDetailsMainDiv .react-datepicker-popper {
  z-index: 5;
}

.consultantsStyle ._3crOX-etLxsZ8OgjhYCvt7 {
  font-size: 20px !important
}

.companyDescriptionDiv .form-control {
  // height: unset;
}
.addressMainDiv .invalid-feedback {
  padding-top: 0px;
}