// Vendor Evaluation Styles

.ven-evl {
    width: 100%;
    height: 100%;

    &-top {
        min-height: 100%;
        background-color: #eceff3;
        padding: 10px;
        overflow-y: auto;
    
        &-hdr {
          display: flex;
          flex-direction: column;
    
          @include media-break("md") {
            flex-direction: row;
          }
        }
      }    

    &-cnt {
        width: 98%;
        height: 210px;
        background-color: #fff;   
        display: flex;
        
        &-pge {
            margin-left: 15px;
            margin-top: 15px;
        }
        &-tit {
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
        }

        &-des1 {
            display: flex;
            margin-top: 15px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }

        &-des2 {
            display: flex;
            margin-top: 20px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
        }
    }

.ven-crt {
    width: 100%;
    background-color: #fff;

    &-hdr {
        display: flex;

        &-tit {
            font-size: 20px;
            line-height: 28px;
            display: flex;
            justify-content: flex-start;
            flex-grow: 1;
        }

        &-cht {
            font-size: larger;
            justify-content: flex-end;
        }
    }

    &-tbl {
        width: 100%;
        display: flex;
        overflow: auto;
    }

    &-btn {
        margin-top: 15px;
        margin-bottom: 20px;
        width: 15%;
    }
}

.add-fed {
    margin-top: 20px;
}

.add-txt {
    font-size: 14px;
    line-height: 20px;
}

.fed-cnt {
    width: 100%;
    height: 71px;
    background-color: #fff;
}

.ven-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    &-fst {
        width: 20%;
    }
}

.ven-pge-brk {
    margin-top: 30px;
}
}

.crt-cnt {
    &-tit {
        font-size: 14px;
        color: #000;
    }

    &-des {
        font-size: 12px;
        color: #808080;
    }
}
