* {
	box-sizing: border-box;
}

input[type="file"] {
	position: absolute;
	right: -9999px;
	visibility: hidden;
	opacity: 0;
}

div {
	&.attachfiles {
		display: flex;
		flex-direction: row;
		ul{
			list-style:none;
			padding:0;
			// overflow:auto;
			
			flex-grow: 1;
			li{
				// padding:0.5rem 0;
				// padding-right:2rem;
				// position:relative;
				i{
					cursor:pointer;
					// position:absolute;
					// top:50%;
					// right:0;
					// transform:translatey(-50%);
				}
			}
		}
	}
	&.attach {
		// width: 600px;
		// margin-top: 1000px;
		// padding: 30px;
	}
}


.atc-hed-lst {
	// padding-top: 2px;
	height: 35px;
	display: flex;
	flex-direction: row;
	width: 160px;
	background: #E9EEF2;
	padding: 10px;
	margin: 10px;
	border-radius:2px;
}
span.file-size {
	// color: #999;
	// padding-left: 0.5rem;
}

.fil-att {
	margin-top: 130px;
	display: flex;
	flex-direction: row;

	&-lbl {
		color: #00f;
		font-size: 20px;
	}
}

.fil-att-main {
	display: flex;
    flex-direction: column;
    margin-top: 152px;
    border: 1px solid #d3d3d3;
    border-left: none;
    border-right: none;
}

.fil-inp-nme {
	width: 100px;
}

.frm-fil-att {
	display: flex;
	flex-direction: row;
}