
.brd {
	display: flex;
	margin-left: 10px;
	width: 100%;
}

.bc {
	color: #637381;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 16px;

	:hover {
		color: #637381;
	}

	:visited {	
			color: #637381;
	}
	:active {
		color: #637381;
	}
}