// Core - ButtonGroup Styles
@mixin button-group-gutter($gutter) {
  > :not(:last-child) {
    margin-right: $gutter;
  }
}

.btn-gup {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;

  > .btn,
  > .icn-btn {
    flex: 1 0 auto;
  }

  &-sml {
    @include button-group-gutter(5px);
  }

  &-nrm {
    @include button-group-gutter(10px);
  }

  &-med {
    @include button-group-gutter(15px);
  }

  &-big {
    @include button-group-gutter(20px);
  }
}
