// Button Component

 /*.btn {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  margin: 2px;
  vertical-align: middle;
  overflow: hidden;
  outline: 0;
  border-style: solid;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  width:100%;

  &-prm {
    background-color: #5c6ac4;
    color: #fff;
    border-color: #fff;
    // font-family: Open Sans;
    &:hover {
      background-color: #5460c4;
      border-color: darken(#5460c4, 20%);
      color: #dee1f4;
    }

    &.focus {
      border-color: #202e78;
      box-shadow: 0 0 0 1px darken(#202e78, 15%);
      outline: 0;
    }

    &-dis {
      background-color: #b3bcf5;
      color: #919eab;
    }
  }
  &-dis {
    background-color: #b3bcf5;
    color: #919eab;
    background-color: #f9fafb;
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    border-radius: 3px;
    // font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #919eab;
  }

  &-sec {
    background-color: #ffffff;
    color: #586068;
    border-color: #c7cacd;

    &:hover {
      background-color: #f4f4f5;
      border-color: darken(#f4f4f5, 20%);
      color: #49505a;
    }

    &.focus {
      border-color: #637381;
      box-shadow: 0 0 0 1px darken(#637381, 15%);
      outline: 0;
    }

    &-dis {
      background-color: #ffffff;
      color: #acb6c0;
    }
  }

  &-nrm {
    background-color: #fcfdfd;
    color: #212b36;
    border-color: #d7dde2;
    background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
    border: 1px solid #c4cdd5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
    border-radius: 3px;

    &:hover {
      background-color: #fcfdfd;
      border-color: darken(#fcfdfd, 20%);
      color: #737980;
    }

    &.focus {
      border-color: #5c6ac4;
      box-shadow: 0 0 0 1px darken(#5c6ac4, 15%);
      outline: 0;
    }

    &-dis {
      background-color: #f9fafb;
      color: #abb5bf;
    }
  }

  &-lnk {
    background-color: transparent;
    color: #4a42ed;
    border: 0;
    // font-family: "SF Pro Text";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    &:hover {
      background-color: transparent;
      color: #827df3;
      border: 0;
    }

    &-dis {
      background-color: transparent !important;
      color: #9eaab6;
      border: 0;
    }
  }
  &-dte {
    background-color: #6c718e;
    // border-color: #d7dde2;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  &-out {
    background-color: #ffffff;
    color: #4a42ed;
    border-color: #b7bcc0;
    width: 100%;
    // font-family: "SF Pro Text Rounded";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  &-nro {
    background-color: #ffffff;
    color: #2c2e2f;
    border-color: #b7bcc0;
    width: 100%;
    // font-family: "SF Pro Text Rounded";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-radius: 100px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  &-add {
    background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
    border: 1px solid #c4cdd5;
    box-sizing: border-box;
    box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
    border-radius: 3px;
    // font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    color: #212b36;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &-upload {
    border: 1px solid rgba(33, 43, 54, 0.4);
    box-sizing: border-box;
    border-radius: 3px;

    color: #212b36;
    padding-top: 6px;
    padding-bottom: 6px;
    // font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    text-align: center;

    color: #212b36;
  }
  &-lnknew {
    background-color: transparent;
    color: #4a42ed;
    border: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;

    &:hover {
      background-color: transparent;
      color: #4a42ed;
      border: 0;
    }

    &-dis {
      background-color: transparent !important;
      color: #9eaab6;
      border: 0;
    }
  }

  &-err {
    background-color: #e03719;
    color: #f9e6e2;
    border-color: #ca2e2e;

    &:hover {
      background-color: #d23317;
      border-color: darken(#d23317, 20%);
      color: #f9e6e2;
    }

    &.focus {
      border-color: #96090e;
      box-shadow: 0 0 0 1px darken(#96090e, 15%);
      outline: 0;
    }

    &-dis {
      background-color: #f9a998;
      color: #fef4f2;
    }
  }
  &-dft {
    background-color: #ffffff;
    color: #212b36;
    border: 1px solid rgba(33, 43, 54, 0.4);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;

    &:hover {
      background-color: #ffffff;
      border-color: darken(#ffffff, 20%);
      color: #212b36;
    }
    &-dis {
      background-color: #f9fafb;
      color: #abb5bf;
    }
  }

  &-lgn {
    background-color: #737ea8;
    color: #ffffff;
    border-color: #b6bcd1;
    border-radius: 50px;

    &:hover {
      background-color: darken(#737ea8, 10%);
      border-color: darken(#737ea8, 20%);
      color: #f9e6e2;
    }
  }

  &-sml {
    height: 18px;
    border-radius: 3px;
    font-size: 8px;
    padding: 0 8px;
    min-width: auto;
  }

  &-med {
    height: 21px;
    border-radius: 3px;
    font-size: 9px;
    padding: 0 9px;
  }

  &-big {
    height: 25px;
    border-radius: 3px;
    font-size: 11px;
    padding: 0 16px;
  }

  &-lrg {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.388889px;
    color: #ffffff;
    height: 42px;
    border-radius: 50px;
  }

  &-sup {
    height: 36px;
    border-radius: 3px;
    background: linear-gradient(
      180deg,
      #a5b85f 0%,
      #cfea88 45.83%,
      #cfe988 93.75%,
      #a8bb66 100%
    );
    box-shadow: 0px 1px 2px rgba(22, 29, 37, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.06);
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #397e2d;

    &:hover {
      background-color: darken(#a5b85f, 10%);
      border-color: darken(#a5b85f, 20%);
      color: darken(#397e2d, 10%);
    }
  }

  &-dic {
    border: 0;
    color: #4a42ed;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    &:hover {
      color: darken(#4a42ed, 10%);
    }
  }
} */

.buttonIconStyle {
  padding-right: 10px;
}
