// CheckBox - Index

.labelStyle {
  display: flex;
  align-items: center;
}

.checkboxStyle {
  appearance: none;
  border: 2px solid #5c6ac4;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  &:after {
    content: "✓";
    display: none;
    color: #5c6ac4;
    font-weight: 700;
    margin-bottom: 1px;
    font-size: 70%;
  }
  &:checked {
    background-color: #ffff;
    border: 2px solid #5c6ac4;
    &:after {
      display: block;
    }
  }
  &:disabled {
    background: #f9fafb;
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    border-radius: 3px;
  }
}
.defaultCheckbox {
  appearance: none;
  border: 2px solid #5c6ac4;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background: linear-gradient(180deg, #ffffff 0%, #f9fafb 100%);
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px rgba(22, 29, 37, 0.05);
  border-radius: 3px;
  &:after {
    content: "✓";
    display: none;
    color: #5c6ac4;
    font-weight: 700;
    margin-bottom: 1px;
    font-size: 70%;
  }
  &:checked {
    background-color: #ffff;
    border: 2px solid #5c6ac4;
    &:after {
      display: block;
    }
  }
  &:disabled {
    background: #f9fafb;
    border: 1px solid #dfe3e8;
    box-sizing: border-box;
    border-radius: 3px;
  }
}

.nrm-chk {
  appearance: none;
  border: 1px solid #8a9098;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;

  &:after {
    content: "✓";
    display: none;
    color: #5c6ac4;
    font-weight: 700;
    margin-bottom: 1px;
    font-size: 20px;
  }
  &:checked {
    background-color: #ffff;
    border: 1px solid #8a9098;
    &:after {
      display: block;
    }
  }
}
