// Date Picker

.dte-pic-wrp {
  width: 100%;
  background: #ffffff;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
}

.react-datepicker-wrapper {
  display: inline !important;
}

.input-group-append {
  margin-left: -45px;
}
