* {
	box-sizing: border-box;
}

input[type="file"] {
	position: absolute;
	right: -9999px;
	visibility: hidden;
	opacity: 0;
}

.lbl {
	width: 1005px;
	// width: auto;
	height: 230px;
	padding: 10px;
	border-style: dashed;
	border-color: #d3d3d3;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 2px;
	color: #00ff;
	&:hover {
		background: #eeeeee;
		color: #fff;
		cursor: pointer;
		transition: 0.2s all;
	}
}

div {
	&.files {
		ul{
			list-style:none;
			padding:0;
			max-height:150px;
			// overflow:auto;
			flex-grow: 1;
			li{
				padding:0.5rem 0;
				padding-right:2rem;
				position:relative;
				i{
					cursor:pointer;
					position:absolute;
					top:50%;
					right:0;
					transform:translatey(-50%);
				}
			}
		}
	}
	&.container {
		padding: 30px;
	}
}
.fle-hed {
	// font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #8ba4ba;
}

.fle-hed-lst {
	padding-top: 2px;
	height: 55px;
	display: flex;
	flex-direction: row;
	width: 500px;
	background: #E9EEF2;
	padding: 10px;
	margin: 10px;
	border-radius:4px;
}
span.file-size {
	color: #999;
	padding-left: 0.5rem;
}

.drp-fil {
	display: flex;
	color: #808080;
	align-items: center;
	// margin-top: 100px;
	justify-content: flex-end;
	font-size: 18px;
}
.addFile {
	// font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #007ACE;
}

.dropFiles {
// font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 28px;
color: #637381;
}

.dropFilesToUpload {
// font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #637381;
}