// Header Component
.hed-wrp {
  position: sticky;
  top: 0;
  z-index: 30;
  background-color: #fff;
}

.hed-cnt {
  width: 100%;
  height: 100%;
  padding: 15px 5px;
  border-bottom: 2px solid #a9bcd4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-break("md") {
    flex-direction: row;
  }
}

.hdr-tlt {
  display: flex;
}

.hdr-lay {
  width: 100%;
  //font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #637381;
  margin-top: 15px;

  @include media-break("md") {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.hdr-prf {
  //font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: right;
  color: #8ba4ba;
}

.hdr-edt {
  //font-family: SF Pro Text;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #4a42ed;
}

.hdr-drp-icn {
  width: 34px;
  height: 34px;
  padding-top: 10px;
}

.hdr-usr {
  padding: 3px 10px 0 0;
}

.hdr-det {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;

  @include media-break("md") {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
  }
}

.hdr-int {
  width: 100%;

  @include media-break("md") {
    width: 40%;
  }
}

.hdr-atr {
  padding-right: 10px;
}

.mnu-itm {
  // display: flex;
  margin-top: 40px;
}

.lst-grp1 {
  border: none;
}