// Core - Heading Component
@mixin heading($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

.hed {
  margin-bottom: 10px;

  &-ngp {
    margin-bottom: 0;
  }

  &-hd1 {
    @include heading(36px, 40px);
    font-weight: 600;
  }

  &-hd2 {
    @include heading(28px, 32px);
    font-weight: 600;
  }

  &-hd3 {
    @include heading(26px, 32px);
    font-weight: 400;
  }

  &-hd4 {
    @include heading(20px, 28px);
    font-weight: 400;
  }

  &-hd5 {
    @include heading(16px, 24px);
  }

  &-hd6 {
    @include heading(12px, 16px);
  }

  &-hd7 {
    @include heading(14px, 20px);
    font-weight: 400;
  }

  &-hd8 {
    @include heading(12px, 16px);
    font-weight: 400;
  }
}

.clr {
  &-normalfont {
    color: #212b36;
  }

  &-stylefont {
    color: #637381;
  }
}
