// Input Component
@mixin input-base($width, $height) {
  width: $width;
  height: $height;
}
.inputDiv {
  width: 100%;
}
.input {
  @include input-base(100%, 48px);
  background: #ffffff;
  border: 1px solid #8ba4ba;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  color: #212b36;
  padding-left: 10px;

  &.input-sml {
    @include input-base(100%, 30px);
    padding-left: 10px;
  }

  &.input-mdm {
    @include input-base(100%, 48px);
    padding-left: 10px;
  }

  &.input-lge {
    @include input-base(100%, 52px);
    padding-left: 10px;
  }
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}