.pge-tab {
    flex-wrap: wrap;  
    display: flex;
    padding: 35px 0 0 18px;


    .pge {
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: #4A42ED;    
      
      &-act {
        color: #000;
        font-size: 15px;
        text-decoration: underline;
      }
    }
  }