// Sidebar Component

.sid-cpy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  margin: 7%;
  height: 68px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);

  @include media-break("md") {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5%;
    height: 78px;
    // width: 90%;
    width: 95%;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &-icn {
    height: 45px;
    width: 55px;
    border: 0;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    background: rgba(255, 255, 255, 0.12);
    margin-left: 10px;
    margin-right: 17px;
    @include media-break("sm") {
      height: 55px;
    }
  }

  &-nme {
    display: none;
    font-size: 13px;
    line-height: 15px;
    font-weight: 600;
    color: #dfeee9;

    @include media-break("md") {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.sid {
  background: #040849;
  border-right: 0;
  //min-height: 100%;
  transition: width 0.2s;
  // width: 20%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  // height: 100%;
  // overflow: scroll;
  height: auto;
  // overflow: scroll;
  // z-index: 4;
  z-index: 100;
  overflow: hidden;

  @include media-break("md") {
    width: 20%;
  }

  .sid-itm-tit {
    display: none;
    // margin-left: 12px;
    margin-left: 25px;

    @include media-break("md") {
      display: block;
    }
  }
  .sid-sub-itm {
    display: none;
    margin-left: 78px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-size: 14px;
    @include media-break("md") {
      display: block;
    }
  }
  .sid-sub-slc {
    display: none;
    margin-left: 78px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.12);
    color: #fff !important;
    @include media-break("md") {
      display: block;
    }
  }

  &-usr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    height: 55px;
    // margin-top: 75px;
    margin-top: 230px;
    margin-bottom: 10px;

    @include media-break("md") {
      //position: absolute;
      justify-content: stretch;
      align-items: center;
      padding-left: 20px;
      margin-top: 100px;

      //bottom: 10px;
    }

    &-icn {
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 30px;
      border-radius: 8px;
      border: 0;
      background: rgba(255, 255, 255, 0.12);
      //padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-break("lg") {
        height: 46px;
        width: 46px;
      }
    }

    &-tit {
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      color: #d8d9e2;
    }
  }

  &-cnt {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    // height: 100%;
    // min-height: 100%;

    justify-content: flex-start;
  }

  &-itm {
    color: #7c7e8a;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0;
    transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-break("md") {
      justify-content: stretch;
      // padding: 10px 0 0 25px;
      padding: 10px 0 0 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:focus {
      box-shadow: inset 0 0 0 1px lighten(#181a2b, 5%);
      outline: 0;
    }

    &:hover {
      background: lighten(#181a2b, 5%);
      color: #fff;
    }

    &-tit {
      display: none;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      color: #d8d9e2;
    }

    &-icn {
      height: 30px;
      width: 30px;
      border-radius: 8px;
      border: 0;
      background: rgba(255, 255, 255, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-break("lg") {
        height: 46px;
        width: 46px;
      }
    }
  }
  &-slc {
    color: #7c7e8a;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 0 0;
    transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s;
    background-color: rgba(255, 255, 255, 0.18);
    padding-top: 10px;
    padding-bottom: 10px;

    @include media-break("md") {
      justify-content: stretch;
      // padding: 10px 0 0 25px;
      padding: 10px 0 0 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &:focus {
      box-shadow: inset 0 0 0 1px lighten(#181a2b, 5%);
      outline: 0;
    }

    &:hover {
      background: lighten(#181a2b, 5%);
      color: #fff;
    }

    &-tit {
      display: none;
      font-size: 12px;
      line-height: 14px;
      font-weight: 600;
      color: #d8d9e2;
    }

    &-icn {
      height: 30px;
      width: 30px;
      border-radius: 8px;
      border: 0;
      background: rgba(255, 255, 255, 0.12);
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-break("lg") {
        height: 46px;
        width: 46px;
      }
    }
  }

  &-lit {
    // margin-top: 70px;
    margin-top: 100px;
  }
}

@include media-break("md") {
  .noOftendersText {
    // font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #003136;
    display: inline-block;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 3px;
  }

  .noOfTextBadge {
    background: #dfe3e8;
    border-radius: 100px;
    // margin: 0px 25px;
  }

  .noOfTendersStyle {
    position: absolute;
    right: 20px;
  }

  .sidebarExpandCollapse {
    position: fixed;
    // right: 0px;
    /* width: 30px; */
    // background: #c4c4c4;
    //background-color: #f2f2f2;
    background-color: #eceff3;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    top: 90px;
    left: 18.1%;
    z-index: 101;
  }
  .sidebarCollapse {
    position: fixed;
    // right: 0px;
    /* width: 30px; */
    // background: #c4c4c4;
    //background-color: #f2f2f2;
    background-color: #eceff3;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    top: 90px;
    // left: 5%;
    left: 57px;
    z-index: 101;
  }

  .sidebarIconMainDiv {
    width: 29px;
    height: 29px;
    // background: #645DF6;
    border-radius: 50px;
    top: 8px;
    left: 7px;
    position: absolute;
  }

  .displaySidebar {
    display: block;
  }
  .hideSidebar {
    display: none;
  }
}

@include media-break("md") {
  .sidemenu {
    width: 83px;
  }

  .siditmicn {
    height: 46px;
    width: 46px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .sidusr {
    margin-top: 200px;
    margin-bottom: 10px;
  }
  .sid-itm {
    padding-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .sid-slc {
    padding-left: 20px;
  }
  .sid-usr-icon {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.sid:hover {
  overflow-y: scroll;
  background: #040849;
  border-right: 0;
  //min-height: 100%;
  transition: width 0.2s;
  // width: 20%;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

//}
