.activeTab {
  background-color: #434985 !important;
  border-radius: 5px;
  color: #ffffff !important;
  padding: 30px 40px;
  // font-family: "SF Pro Text";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  border: 1px solid #b0b0b0 !important;
}

.tab {
  background-color: #eaeaea;
  border: 1px solid #b0b0b0 !important;
  box-sizing: border-box;
  border-radius: 5px;
  color: #635cf6 !important;
  padding: 30px 40px;
  // font-family: "SF Pro Text";
  font-style: normal;
  font-weight: bold;
  font-size: 17.6042px;
  text-align: center;
}

.tabMainDiv {
  padding-top: 100px;
  padding-left: 8%;
  padding-right: 8%;
  background-color: #fff;
}
.navTab {
  border-bottom: unset !important;
}
