// Text Editor

.quill {
  background: #ffffff;
  border: 1px solid #c4cdd5;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
  border-radius: 3px;
  width: 100%;
}

.ql-container {
  min-height: 80px;
  max-height: 100%;
  overflow: auto;
}

.ql-container.ql-snow, .ql-toolbar.ql-snow {
  border: 0;
}